<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Academia - Home</title>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <div class="home-container">
        <h1>Bem-vindo ao Sistema Academia</h1>
        <a class="home-link" href="forms/cadastroAluno.html">Exibir Registros</a>
        <a class="home-link" href="forms/cadastroAluno.html">Cadastrar Instrutor</a>
        <a class="home-link" href="forms/cadastroPlano.php">Cadastrar Plano de Treino</a>
        <a class="home-link" href="forms/cadastroAluno.php ">Cadastrar Aluno</a>
    </div>
</body>
</html>